.container{
    border: 1px solid rgb(227, 220, 220);
    border-radius: 13px;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Additional styles for the navbar */
    /* Add background, padding, etc. */
    margin-top: 60px;
}

.navbar img{
    margin-left: 110px;
    display: block;
    width: 10%;
    height: 10%;
}

.new{
    margin-left: 110px;
    margin-top: 80px;
}

.new button{
    cursor: pointer;
    border-radius: 999px;
    padding: 15px;
    background: #fff;
    border: 1px solid rgb(201, 191, 191);
    margin-bottom: 50px;
    font-size: 20px;
}

.new p{
    font-size: 88px;
    font-weight: 300;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
}

.new span {
    background-image: linear-gradient(284deg, rgb(103, 233, 240) 0%, rgb(167, 133, 254) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.new1{
    margin-left: 120px;
    font-size: 20px;
}

.new1 p{
    margin: 5px 0;
}

.new2{
    margin-left: 120px;
    margin-top: 90px;
    margin-bottom: 40px;
}

.new2 button{
    border-radius: 999px;
    color: #fff;
    background: #000;
    padding: 15px;
    font-size: 20px;
}

.new2 img{
    height: 5%;
    width: 5%;
}

.new3 img{
    height: 80px;
    width: 80px;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: center; /* Center-align the navigation items */
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 1; /* Occupy available space */
}

.nav-items li a{
    margin: 0 35px; /* Adjust margin between items as needed */
    text-decoration: none;
    color: black;
    font-size: 23px;
}

.nav-items li i{
    margin-left: 10px;
}

.nav-items a:hover{
    background: #e9e6e6;
    cursor: pointer;
    border-radius: 999px;
    padding: 10px;
    transition: 0.5s ease;
}

.nav-items i{
    cursor: pointer;
}

.nav-buttons {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Push buttons to the right */
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 70px;
}

.nav-buttons li {
    margin: 0 5px; /* Adjust margin between buttons as needed */
}

.nav-buttons button{
    border-radius: 999px;
    padding: 15px;
    font-size: 20px;
}

.nav-buttons .arrow{
    background: #000;
    color: #fff;
}

.nav-buttons .arrow i{
    margin-left: 5px;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 23px;
    color: #4a4444;
}

.provider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.provider img {
    max-width: 100%;
}

.customer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer button{
    border-radius: 999px;
    background: #fff;
    padding: 10px;
    font-size: 25px;
    border: 1px solid #8d8989;
    font-weight: 600px;
}

.flex1{
    display: flex;
    align-items: flex-start;
}

.flex1 .new3{
    margin-top: 83px;
    margin-left: 20px;
    flex-shrink: 0;
}

.flex1 .new3 img{
    max-width: 100%;
    height: auto;
    width: 420px;
}